.error-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.inner-container:hover{
  border-radius: 15px;
  background-color: rgba(221, 22, 22, 0.5);
}

.error-text{
  padding: 5px 0px 0px 5px;
  margin: 0px;
  white-space: nowrap;
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-family: Jost;
}

.inner-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 50%;
}