.single-comment-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0px;
  width: 400px;
  min-height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid rgb(0, 112, 146);
}

.name{
  font-family: 'Jost';
  font-weight: bold;
  margin: 0px;
  padding: 0px 0px 0px 10px ;
}

.comment-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(0, 112, 146);
  padding: 0px 0px 0px 10px;
}

.user-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control-icons{
  padding-right: 10px;
}

.profile-pic{
  border-radius: 15px;
}

.comment-content{
  background-color: white;
  border: 2px dashed rgba(41, 131, 175, 1);
  border-radius: 10px;
  margin: 10px 0px 10px 10px;
  width: 95%;
  padding: 5px;
}

.edit-icon:hover{
  border-radius: 10px;
  background-color: rgba(84, 84, 84, 0.5);
}

.edit-icon:active{
  border-radius: 10px;
  background-color: rgba(84, 84, 84, 0.7);
}

.delete-icon:hover{
  border-radius: 10px;
  background-color: rgba(221, 22, 22, 0.5);
}

.delete-icon:active{
  border-radius: 10px;
  background-color: rgba(221, 22, 22, 0.8);
}

/* .comment-reactions{
  padding-left: 10px;
  padding: 10px;
  margin: 0px;
  font-family: 'Jost';
} */