.admin-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px;
}

.admin-messages {
    padding: 5px 0px 0px 5px;
    margin: 0px;
    white-space: nowrap;
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: Jost;
}