
.forum-header-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px 30px;
  background-color: rgb(0, 112, 146);
}

.authentication, .user-data{
  display: flex;
  flex-direction: row;
  height: 50px;
  align-content: center;
}

.user-data{
  justify-content:space-between;
  min-width: 650px;
}

.authentication{
  justify-content: space-between;
  width: 155px;
}
.user-text, .user-text-bold{
  word-break: keep-all;
  margin: 0px;
  align-self: center;
  color: white;
  font-size: 12px;
}

.user-text-bold{
  font-weight:bold;
  font-size: 15px;
}

.logout-button{
  white-space: nowrap;
  height: 40px;
  align-self: center;
  font-family: 'Jost';
}

.user-text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  padding: 0px 10px;
}