.comment-reactions-container{
  margin-left: 10px;
}

.comment-reactions-container, .reactions-container, .like-container, .dislike-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.like-container, .dislike-container{
  padding: 0px 5px;
}
.like-container:hover{
  border-radius: 15px;
  background-color: rgba(28, 145, 75, 0.5);
}

.like-container:active{
  border-radius: 15px;
  background-color: rgba(28, 145, 75, 0.8);
}

.dislike-container:hover{
  border-radius: 15px;
  background-color: rgba(221, 22, 22, 0.5);
}

.dislike-container:active{
  border-radius: 15px;
  background-color: rgba(221, 22, 22, 0.8);
}

.disliked, .liked{
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.disliked{
  background-color: rgba(221, 22, 22, 0.8);
}

.liked{
  background-color: rgba(28, 145, 75, 0.8);
}
.reactions-text{
  font-family: 'Jost';
  font-size: 20px;
  margin: 0px;
}