.single-post-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding: 0px;
  margin: 32px;
  width: 500px;
  min-height: 400px;
  background-color: lightgray;
  border-radius: 10px;
  border: 10px solid rgb(0, 112, 146);
}

.user-info-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 481px;
  height: 71px;
  padding:0px 0px 0px 30px;
  background-color: rgb(0, 112, 146);
}

.user-information{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.user-icon{
  border-radius: 25px;
}

.username{
  width: 300px;
  padding-left: 20px;
  font-family: 'Jost';
  font-size: 30px;
}

.title{
  padding:20px 0px 0px 20px;
  font-family: 'Jost';
  font-size: 25px;
  }
  
.post-details{
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  align-items: center;
}
  
  
.link{
  text-decoration: none;
  color: black;
}
  
.link:hover{
  color: rgba(221, 22, 22, 0.5);
}
  
.collapsed, .expanded{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.icon-controls{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0px 40px;
  width: 500px;
}

.icon-text{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: 'Jost';
}

.comment-icon{
  margin-right: 5px;
}

.nav-text{
  margin: 0px 0px 20px 0px;
}

.nav-text:hover{
   color:rgba(41, 131, 175, 1);
}

.username-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.post-content{
  display: flex;
  justify-content: center;
  width: 85%;
  min-height: 200px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border: 1.5px solid rgba(41, 131, 175, 1);
  border-radius: 10px;
  line-break: loose;
}

.comment-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-button:hover{
  border-radius: 10px;
  background-color: rgba(84, 84, 84, 0.5);
}

.edit-button:active{
  border-radius: 10px;
  background-color: rgba(84, 84, 84, 0.7);
}

.delete-button:hover{
  border-radius: 10px;
  background-color: rgba(221, 22, 22, 0.5);
}

.delete-button:active, .flagged{
  border-radius: 10px;
  background-color: rgba(221, 22, 22, 0.8);
}

.close-save-controls{
  padding-left:30px;
}