.single-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin: 50px 0px 0px 0px;
  padding: 0px;
  width: 500px;
  min-height: 100px;
  background-color: lightgray;
  border-radius: 20px;
  border: 10px solid rgb(0, 112, 146);
  font-family: 'Jost';
}

.single-user-info {
  width: 65%;
}

p {
  display: table-cell;
  vertical-align: middle;
}

.profile-picture {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friend-buttons {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow-icon, .unfollow-icon {
  border-radius: 10px;
}

.follow-icon:hover{
  border-radius: 10px;
  background-color: rgba(22, 221, 138, 0.5);
}

.unfollow-icon:hover{
  border-radius: 10px;
  background-color: rgba(221, 22, 22, 0.5);
}