.post-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin: 0px;
  padding: 60px;
  background-size: auto;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 20px;
}
