body {
  margin: 0;
  font-family: 'Jost';
  /* font-family: 'Caesar Dressing', 'Jost'; */
  /* font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: 'Jost';
}

.card-header {
  font-size: small;
}

.card-title {
  text-decoration: none;
}

