.content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 750px;
  margin: 0px;
  padding-top: 50px;
  background-attachment: fixed;
  background-repeat: none;
}
